/* Spotify */
#vc-spotify-player {
  font-size: 15px;
  padding-top: 15px;
  border: var(--borders);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#vc-spotify-player:hover {
  border-color: var(--bordersH);
}

.barFill__1f56b {
  background-color: var(--bordersH);
  border: 2px;
}

/* Everything else done to modify NoTheme into this obamanation */

.container__7e23c {
  border: var(--borders);
  margin: 0px 5px 1px 5px;
}

.container__7e23c:hover {
  border-color: var(--bordersH);
}

/* DMs - Direct Messages */
.privateChannels__9b518 {
  border: var(--borders);
  margin: 0px 5px 1px 5px;
}

.privateChannels__9b518:hover {
  border-color: var(--bordersH);
}

/* Text Box */
.scroller__89969 {
  border-right: transparent;
}

/* Chat Window */
.scroller_e412fe:hover {
  border-color: var(--bordersH);
}

.scroller_e412fe {
  border: var(--borders);
  margin: 10px 10px 15px 10px;
}

/* Title Bar */
.themed_b152d4 {
  background-color: var(--projectCabTitleBar);
  border: var(--borders);
  margin: 0px 0px 10px -10px;
  padding: 0px;
}

.subtitleContainer_f50402 {
  margin-left: 20px;
}

.themed_b152d4:hover {
  border-color: var(--bordersH);
}

.heading-md-semibold__76ba1 {
  margin-left: 20px
}

/* IDR LMAOOOO */
#app-mount>div.appAsidePanelWrapper__5e6e2>div.notAppAsidePanel__95814>div.app_b1f720>div>div.layers__1c917.layers_a23c37>div>div>div>div>div.chat__52833>div.subtitleContainer_f50402>section>div>div.children_cde9af>div.iconWrapper_de6cd1 {
  display: none;
}

.scrollableContainer_ff917f:hover {
  border-color: var(--bordersH);
}

/* THAT STUPID FUCKING USER BAR BULLSHIT FUCKING FUCK DICK FUCK FUCK SHIT FUCK DICK FUCK */
.container_debb33 {
  border: var(--borders);
  margin: 7px 5px 16px 5px;
}

.scroller__1f498 {
  border: 0px;
}

.container_debb33:hover {
  border-color: var(--bordersH);
}

/* Adjustments for Chat */
.inner__9fd0b {
  padding: 2.5px 2.5px 2.5px 10px;
}

.form_d8a4a1 {
  margin-bottom: -6px;
  padding-left: 10px;
  padding-right: 10px;
}

.form_d8a4a1:hover {
  border-color: var(--bordersH);
}

/* Activies/Game */
.activityPanel_b73e7a {
  border: var(--borders);
  margin: 5px 5px 16px 5px;
}