/* HOLY BALLS THIS GUY CAN TALK

anyways, here's the license for this icon pack 

https://github.com/stephenhutchings/typicons.font/blob/master/LICENCE.md

*/


/* ----------------------------------------------------- 
------------------------------------------
------------- TITLE BAR ICONS----------------------------------
------------------------------------------
-------------------------------------------------------
*/


/* Phone */
[d="M2 7.4A5.4 5.4 0 0 1 7.4 2c.36 0 .7.22.83.55l1.93 4.64a1 1 0 0 1-.43 1.25L7 10a8.52 8.52 0 0 0 7 7l1.12-2.24a1 1 0 0 1 1.19-.51l5.06 1.56c.38.11.63.46.63.85C22 19.6 19.6 22 16.66 22h-.37C8.39 22 2 15.6 2 7.71V7.4ZM13 3a1 1 0 0 1 1-1 8 8 0 0 1 8 8 1 1 0 1 1-2 0 6 6 0 0 0-6-6 1 1 0 0 1-1-1Z"] {
  d: path(
    "m19.502 3.672l-1.795-1.793C17.141 1.312 16.387 1 15.586 1s-1.555.312-2.121.879l-1.586 1.586a3.002 3.002 0 0 0 0 4.242l1.379 1.379l-4.172 4.172l-1.379-1.379C7.141 11.312 6.387 11 5.586 11s-1.555.312-2.121.879l-1.586 1.586a3.002 3.002 0 0 0 0 4.242L3.673 19.5c.465.465 1.796 1.545 4.116 1.545c2.764 0 5.694-1.529 8.711-4.545c6.245-6.246 4.825-11.002 3.002-12.828m-6.209 1.207l1.586-1.586a.997.997 0 0 1 1.414 0l1.083 1.082l-3.001 3l-1.082-1.082a.999.999 0 0 1 0-1.414m-10 11.414a.999.999 0 0 1 0-1.414l1.586-1.586a.997.997 0 0 1 1.414 0l1.082 1.082l-2.999 3zm11.793-1.207c-3.083 3.082-5.551 3.959-7.297 3.959c-1.349 0-2.267-.523-2.702-.959c-.004-.004 2.995-3.004 2.995-3.004l.297.297a.997.997 0 0 0 1.414 0l5.586-5.586a.999.999 0 0 0 0-1.414l-.297-.297l3.001-3c1.003 1.004 2.467 4.539-2.997 10.004"
  );
  transform: scale(1, 1);
} 


/* Camera Icon */
[d="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3 3 0 0 0 3-3v-2.12a1 1 0 0 0 .55.9l3 1.5a1 1 0 0 0 1.45-.9V7.62a1 1 0 0 0-1.45-.9l-3 1.5a1 1 0 0 0-.55.9V7a3 3 0 0 0-3-3H4Z"] {
  d: path(
    "M19 20H5c-1.654 0-3-1.346-3-3V9c0-1.654 1.346-3 3-3h1.586l1-1C8.165 4.421 9.182 4 10 4h4c.818 0 1.835.421 2.414 1l1 1H19c1.654 0 3 1.346 3 3v8c0 1.654-1.346 3-3 3M5 8a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-2a.996.996 0 0 1-.707-.293L15 6.414C14.799 6.213 14.285 6 14 6h-4c-.285 0-.799.213-1 .414L7.707 7.707A.996.996 0 0 1 7 8zm7 2c1.379 0 2.5 1.121 2.5 2.5S13.379 15 12 15s-2.5-1.121-2.5-2.5S10.621 10 12 10m0-1a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7m6-.301a1.3 1.3 0 1 0 0 2.6a1.3 1.3 0 0 0 0-2.6"
  );
  transform: scale(1, 1);
}


/* Pins */
[d="M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11l.38.38ZM9.07 17.07a.5.5 0 0 1-.08.77l-5.15 3.43a.5.5 0 0 1-.63-.06l-.42-.42a.5.5 0 0 1-.06-.63L6.16 15a.5.5 0 0 1 .77-.08l2.14 2.14Z"] {
  d: path(
    "m21.436 7.586l-3.998-4.02c-.752-.756-2.063-.764-2.83-.006c-.196.196-.35.436-.418.629c-.653 1.362-1.354 2.215-2.254 2.727l-.217.105C10.751 7.506 9.434 8 7 8c-.266 0-.521.052-.766.152a2.022 2.022 0 0 0-1.082 1.084a2.022 2.022 0 0 0 0 1.525c.104.249.25.471.435.651l3.235 3.235L5 20l5.352-3.822l3.227 3.227c.186.189.406.339.656.441a1.974 1.974 0 0 0 1.531 0a1.963 1.963 0 0 0 1.08-1.078c.103-.242.155-.507.155-.768c0-2.436.494-3.752.978-4.721c.496-.992 1.369-1.748 2.754-2.414c.271-.104.51-.256.711-.457a2.005 2.005 0 0 0-.008-2.822m-5.248 4.801c-.819 1.643-1.188 3.37-1.195 5.604L7 10c2.139 0 3.814-.335 5.396-1.084l.235-.105c1.399-.699 2.468-1.893 3.388-3.834l3.924 4.051c-1.863.893-3.056 1.96-3.755 3.359"
  );
  transform: scale(1, 1);
}

/* Add Friends on DM */
[d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM16.62 13.17c-.22.29-.65.37-.92.14-.34-.3-.7-.57-1.09-.82-.52-.33-.7-1.05-.47-1.63.11-.27.2-.57.26-.87.11-.54.55-1 1.1-.92 1.6.2 3.04.92 4.15 1.98.3.27-.25.95-.65.95a3 3 0 0 0-2.38 1.17ZM15.19 15.61c.13.16.02.39-.19.39a3 3 0 0 0-1.52 5.59c.2.12.26.41.02.41h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5a7.5 7.5 0 0 1 13.19-4.89ZM9.5 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM15.5 22Z"] {
  d: path(
    "M21 7h-3c0-1.65-1.35-3-3-3H3C1.35 4 0 5.35 0 7v7c0 1.65 1.35 3 3 3v3l3-3c0 1.65 1.35 3 3 3h8l3 3v-3h1c1.65 0 3-1.35 3-3v-7c0-1.65-1.35-3-3-3M3 15c-.542 0-1-.458-1-1V7c0-.542.458-1 1-1h12c.542 0 1 .458 1 1v1H9.5A2.502 2.502 0 0 0 7 10.5V15zm19 2c0 .542-.458 1-1 1H9c-.542 0-1-.458-1-1v-6.5C8 9.673 8.673 9 9.5 9H21c.542 0 1 .458 1 1z"
  );
  transform: scale(.9, .9);
}
[d="M19 14a1 1 0 0 1 1 1v3h3a1 1 0 0 1 0 2h-3v3a1 1 0 0 1-2 0v-3h-3a1 1 0 1 1 0-2h3v-3a1 1 0 0 1 1-1Z"] {
  d: path(
    "M2 22C2 17.5817 5.58172 14 10 14C14.4183 14 18 17.5817 18 22H16C16 18.6863 13.3137 16 10 16C6.68629 16 4 18.6863 4 22H2ZM10 13C6.685 13 4 10.315 4 7C4 3.685 6.685 1 10 1C13.315 1 16 3.685 16 7C16 10.315 13.315 13 10 13ZM10 11C12.21 11 14 9.21 14 7C14 4.79 12.21 3 10 3C7.79 3 6 4.79 6 7C6 9.21 7.79 11 10 11ZM18.2837 14.7028C21.0644 15.9561 23 18.752 23 22H21C21 19.564 19.5483 17.4671 17.4628 16.5271L18.2837 14.7028ZM17.5962 3.41321C19.5944 4.23703 21 6.20361 21 8.5C21 11.3702 18.8042 13.7252 16 13.9776V11.9646C17.6967 11.7222 19 10.264 19 8.5C19 7.11935 18.2016 5.92603 17.041 5.35635L17.5962 3.41321Z"
  );
  transform: scale(0, 0);
}

/* Show User Profile in DM */
[d="M23 12.38c-.02.38-.45.58-.78.4a6.97 6.97 0 0 0-6.27-.08.54.54 0 0 1-.44 0 8.97 8.97 0 0 0-11.16 3.55c-.1.15-.1.35 0 .5.37.58.8 1.13 1.28 1.61.24.24.64.15.8-.15.19-.38.39-.73.58-1.02.14-.21.43-.1.4.15l-.19 1.96c-.02.19.07.37.23.47A8.96 8.96 0 0 0 12 21a.4.4 0 0 1 .38.27c.1.33.25.65.4.95.18.34-.02.76-.4.77L12 23a11 11 0 1 1 11-10.62ZM15.5 7.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"] {
  d: path(
    "M17 7H6c-1.654 0-3 1.346-3 3v7c0 1.654 1.346 3 3 3h11c1.654 0 3-1.346 3-3v-7c0-1.654-1.346-3-3-3m1 10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-4h13zm0-6H5v-1a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1zm-4 5h2a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1"
  );
  transform: scale(1, 1);
}
[d="M24 19a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"] {
  d: path(
    "M3 18H21V6H3V18ZM1 5C1 4.44772 1.44772 4 2 4H22C22.5523 4 23 4.44772 23 5V19C23 19.5523 22.5523 20 22 20H2C1.44772 20 1 19.5523 1 19V5ZM9 10C9 9.44772 8.55228 9 8 9C7.44772 9 7 9.44772 7 10C7 10.5523 7.44772 11 8 11C8.55228 11 9 10.5523 9 10ZM11 10C11 11.6569 9.65685 13 8 13C6.34315 13 5 11.6569 5 10C5 8.34315 6.34315 7 8 7C9.65685 7 11 8.34315 11 10ZM8.0018 16C7.03503 16 6.1614 16.3907 5.52693 17.0251L4.11272 15.6109C5.10693 14.6167 6.4833 14 8.0018 14C9.52031 14 10.8967 14.6167 11.8909 15.6109L10.4767 17.0251C9.84221 16.3907 8.96858 16 8.0018 16ZM13 9V15H15V9H13ZM17 9V15H19V9H17Z"
  );
  transform: scale(0, 0);
}

/* Inbox */
[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5ZM4 5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v6c0 .83-.67 1.5-1.5 1.5h-2.65c-.5 0-.85.5-.85 1a3 3 0 1 1-6 0c0-.5-.35-1-.85-1H5.5A1.5 1.5 0 0 1 4 11.5v-6Z"] {
  d: path(
    "M19 7H5a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2m-9.684 7.316l1.602 1.4c.305.266.691.398 1.082.398s.777-.133 1.082-.398l1.602-1.4l-.037.037l3.646 3.646H5.707l3.646-3.646zM5 17.293V10.54l3.602 3.151zm10.398-3.602L19 10.54v6.75zM19 9v.21l-6.576 5.754a.68.68 0 0 1-.848 0L5 9.21V9z"
  );
  transform: scale(1, 1);
}


/* Devtool Lady Bug Thing */
[d="M9.54 3.28a3 3 0 0 0-.37.74c-.19.52.28.98.83.98h4c.55 0 1.02-.46.83-.98a2.96 2.96 0 0 0-.37-.74c.23-.16.56-.28.99-.28a1 1 0 1 0 0-2c-1 0-2.01.4-2.68 1.1a3 3 0 0 0-1.54 0A3.76 3.76 0 0 0 8.55 1a1 1 0 0 0 0 2c.43 0 .76.12 1 .28ZM18.01 18.85c-.04.1-.03.22.05.3l1.51 1.5a1 1 0 0 1-1.41 1.42l-1.18-1.18a.26.26 0 0 0-.37 0 6.7 6.7 0 0 1-2.8 1.82c-.42.14-.83-.2-.86-.64l-.42-8.57a.53.53 0 0 0-1.05 0l-.43 8.57c-.03.45-.44.78-.87.64A6.7 6.7 0 0 1 7.4 20.9a.26.26 0 0 0-.37-.01l-1.18 1.18a1 1 0 0 1-1.41-1.41l1.51-1.51c.08-.08.1-.2.05-.3-.47-.94-.78-2-.92-3.12a.25.25 0 0 0-.25-.23H3a1 1 0 1 1 0-2h1.82c.13 0 .24-.1.25-.23.14-1.13.45-2.18.92-3.12a.25.25 0 0 0-.05-.3l-1.51-1.5a1 1 0 1 1 1.41-1.42L7.02 8.1c.1.1.27.1.37 0a6.66 6.66 0 0 1 2.95-1.87c.38-.11.75.14.85.52l.57 2.27c.06.25.42.25.48 0l.57-2.27c.1-.38.47-.63.85-.52 1.1.33 2.11.98 2.95 1.86.1.1.26.11.37.01l1.18-1.18a1 1 0 1 1 1.41 1.41l-1.51 1.51c-.08.08-.1.2-.05.3.47.94.78 2 .92 3.12.01.13.12.23.25.23H21a1 1 0 1 1 0 2h-1.82c-.13 0-.24.1-.25.23a9.68 9.68 0 0 1-.92 3.12Z"] {
  d: path(
    "M18.383 4.318a1 1 0 0 0-1.09.217a3.248 3.248 0 0 1-4.586 0a5.25 5.25 0 0 0-7.414 0A.997.997 0 0 0 5 5.242v13a1 1 0 0 0 2 0v-4.553a3.248 3.248 0 0 1 4.293.26a5.25 5.25 0 0 0 7.414 0a1 1 0 0 0 .293-.707v-8a1 1 0 0 0-.617-.924m-7.09 1.631A5.254 5.254 0 0 0 17 7.087v2.311a3.746 3.746 0 0 1-4.646-.51C10.906 7.441 8.756 7.145 7 7.961V5.689a3.247 3.247 0 0 1 4.293.26m1.414 6.585A5.23 5.23 0 0 0 9 11.002c-.681 0-1.361.131-2 .394V9.085a3.746 3.746 0 0 1 4.646.51A4.73 4.73 0 0 0 15 10.981c.687 0 1.366-.164 2-.459v2.272a3.248 3.248 0 0 1-4.293-.26"
  );
  transform: scale(1, 1);

}

/* Threads */
[d="M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1 1 0 0 1 1.41 0l9.2 9.2a1 1 0 0 1 0 1.4l-.7.7a1 1 0 0 1-1.3.13l-9.54-6.72a1 1 0 0 1-.08-1.58l1-1L12 2.8ZM12 21.2a1 1 0 0 1 0 1.41l-.35.35a1 1 0 0 1-1.41 0l-9.2-9.19a1 1 0 0 1 0-1.41l.7-.7a1 1 0 0 1 1.3-.12l9.54 6.72a1 1 0 0 1 .07 1.58l-1 1 .35.36ZM15.66 16.8a1 1 0 0 1-1.38.28l-8.49-5.66A1 1 0 1 1 6.9 9.76l8.49 5.65a1 1 0 0 1 .27 1.39ZM17.1 14.25a1 1 0 1 0 1.11-1.66L9.73 6.93a1 1 0 0 0-1.11 1.66l8.49 5.66Z"] {
  d: path(
    "M12 11.8c1-.4.7-1.8 0-2.4c-1.1-.9-2.7-.4-3.4.8c-1.5 2.4.9 5 3.4 4.9c2.7-.2 4.3-2.9 3.7-5.4c-.7-3-3.9-4.5-6.7-3.6c-2.6.8-4.2 3.5-4 6.2c.3 3 2.6 5.4 5.5 5.9c2.8.5 5.7-.8 7.2-3.2c.7-1.1 1.2-2.4 1.2-3.8c0-.5.5-1 1.1-.9c.8 0 1 .8.9 1.4c-.4 4.7-4.5 8.6-9.3 8.6c-5.9 0-10.5-6.2-8-11.8C6.1 3.1 13.9 2 16.9 7.3c1.5 2.5 1.2 5.8-.9 7.9c-2 2-5.3 2.4-7.7.7c-2.2-1.6-2.9-4.9-1.1-7.2c1.7-2.3 5.5-2.4 7 .2c1.1 1.9 0 5.2-2.5 4.9c-1.6 0-3-1.7-2.1-3.2c.6-.9 1.9-.6 2.3.1c.2.8.1 1.1.1 1.1"
  );
  transform: scale(1, 1);
}

/* DONT FORGET TO HIT THE NOTIFICATION BELL Icon */
[d="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1 1 0 0 0-1.4-1.4l-20 20ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a.47.47 0 0 0-.07-.74 6.97 6.97 0 0 0-1.35-.64.62.62 0 0 1-.38-.43 2 2 0 0 0-3.86 0 .62.62 0 0 1-.38.43A7 7 0 0 0 5 9.5v2.09a.5.5 0 0 1-.13.33l-1.1 1.22A3 3 0 0 0 3 15.15v.28c0 .24.04.48.13.7ZM18.64 9.36c.13-.13.36-.05.36.14v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 0 1 .77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-.46 0-.9-.01-1.33-.03a.48.48 0 0 1-.3-.83l8.27-8.28ZM9.18 19.84A.16.16 0 0 0 9 20a3 3 0 1 0 6 0c0-.1-.09-.17-.18-.16a24.84 24.84 0 0 1-5.64 0Z"] {
  d: path(
    "M19.715 17.301c-.017-.018-1.717-1.854-1.73-6.32a6.01 6.01 0 0 0-4.019-5.641L14 5c0-1.103-.896-2-2-2s-2 .897-2 2l.034.338c-2.336.816-4.019 3.036-4.019 5.646c0 4.462-1.711 6.296-1.721 6.306A1.002 1.002 0 0 0 5 19h3.143c.447 1.72 1.999 3 3.857 3s3.41-1.28 3.857-3H19c.4 0 .758-.243.915-.61s.076-.799-.2-1.089M12 7c2.189 0 3.978 1.789 3.984 3.987c.002.728.046 1.396.118 2.013h-8.2c.071-.617.113-1.286.113-2.016A3.99 3.99 0 0 1 12 7m0 13a1.993 1.993 0 0 1-1.722-1h3.443A1.99 1.99 0 0 1 12 20m-5.186-3c.352-.736.705-1.731.938-3h8.502c.234 1.269.588 2.264.938 3z"
  );
  transform: scale(1, 1);
}

/* Members Sidebar */
[d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM18.44 17.27c.15.43.54.73 1 .73h1.06c.83 0 1.5-.67 1.5-1.5a7.5 7.5 0 0 0-6.5-7.43c-.55-.08-.99.38-1.1.92-.06.3-.15.6-.26.87-.23.58-.05 1.3.47 1.63a9.53 9.53 0 0 1 3.83 4.78ZM12.5 9a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2.2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54-.1-.23-.42-.15-.42.1v2.1a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z"] {
  d: path(
    "M12 14c2.764 0 5-2.238 5-5s-2.236-5-5-5s-5 2.238-5 5s2.236 5 5 5m0-8c1.654 0 3 1.346 3 3s-1.346 3-3 3s-3-1.346-3-3s1.346-3 3-3m8 9a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5m0-4c.827 0 1.5.673 1.5 1.5S20.827 14 20 14s-1.5-.673-1.5-1.5s.673-1.5 1.5-1.5m0 4.59c-1.331 0-2.332.406-2.917.969C15.968 15.641 14.205 15 12 15c-2.266 0-3.995.648-5.092 1.564c-.596-.565-1.608-.975-2.908-.975c-2.188 0-3.5 1.091-3.5 2.183c0 .545 1.312 1.092 3.5 1.092c.604 0 1.146-.051 1.623-.133l-.04.27c0 1 2.405 2 6.417 2c3.762 0 6.417-1 6.417-2l-.021-.255c.463.073.996.118 1.604.118c2.051 0 3.5-.547 3.5-1.092c0-1.092-1.373-2.182-3.5-2.182M4 17.863c-1.309 0-2.068-.207-2.417-.354c.239-.405 1.003-.92 2.417-.92c1.107 0 1.837.351 2.208.706l-.235.344c-.452.119-1.108.224-1.973.224M12 19c-2.163 0-3.501-.312-4.184-.561C8.337 17.761 9.734 17 12 17c2.169 0 3.59.761 4.148 1.425c-.755.27-2.162.575-4.148.575m8-1.137c-.914 0-1.546-.103-1.973-.213a3.42 3.42 0 0 0-.248-.375c.356-.345 1.071-.685 2.221-.685c1.324 0 2.141.501 2.404.911c-.39.163-1.205.362-2.404.362M4 15a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5m0-4c.827 0 1.5.673 1.5 1.5S4.827 14 4 14s-1.5-.673-1.5-1.5S3.173 11 4 11"
  );
  transform: scale(1, 1);
}

