@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Courier+Prime:wght@400;700&family=Cousine:wght@400;700&family=Cutive+Mono&family=DM+Mono:wght@300;400;500&family=Fira+Mono:wght@400;500;700&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Nanum+Gothic+Coding:wght@400;700&family=PT+Mono&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Share+Tech+Mono&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&family=Ubuntu+Mono:wght@400;700&family=VT323&display=swap");

:root {
  --font-primary: "DM Mono", monospace;
  --font-display: "DM Mono", monospace;
  --font-headline: "DM Mono", monospace;
  --font-code: "DM Mono", monospace;
  text-rendering: optimizeLegibility;
}

.platform-win .scroller_fea3ef, .platform-osx .scroller_fea3ef {
  margin: 26px 0px 40px 7px;
  padding: 10px 10px 10px 0px;
}
