@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --font-primary: "Victor Mono", monospace;
  --font-display: "Victor Mono", monospace;
  --font-headline: "Victor Mono", monospace;
  --font-code: "Victor Mono", monospace;
  text-rendering: optimizeLegibility;
}
