:root {
  --projectCabBackground: rgb(0, 0, 0);
  --projectCabBackground2: rgb(0, 0, 0);
  --projectCabTextBackground: rgb(0, 0, 0);
  --projectCabTitleBar: rgb(0, 0, 0);
  --projectCabFauxTitleBar: rgb(0, 0, 0);
  --projectCabHover: var(--accent-focused);
}

:root {
  --bordersH: rgb(0, 255, 234); 
  --accent: rgb(0, 255, 221);
  --accent-hover: rgb(124, 124, 124, 0.977);
  --accent-selected: rgb(49, 49, 49);
  --accent-focused: rgb(49, 49, 49);
  --accent-titles: rgba(198, 168, 55, 1);
  --borders: rgb(65, 179, 200) 1px solid;
}
