/* Color Scheme */
.theme-dark:root {
  --projectCabBackground: rgba(18, 18, 18, 0);
  --projectCabBackground2: rgba(0, 0, 0, 0.35);
  --projectCabTextBackground: rgba(18, 18, 18, 0);
  --projectCabTitleBar: rgba(18, 18, 18, 0);
  --projectCabFauxTitleBar: rgba(0, 0, 0, 0);
  --projectCabHover: var(--accent-focused);
  --primary-800: rgba(0, 0, 0, 0.9);
  --primary-700: rgba(0, 0, 0, 0.9);
  --primary-630: rgba(0, 0, 0, 0.9);
  --primary-600: rgba(0, 0, 0, 0.9);
}

/* Accents */
.theme-dark:root {
  --accent: rgb(255, 150, 224);
  --accent-hover: rgba(8, 0, 56, 0.63);
  --accent-selected: rgba(13, 1, 56, 0.562);
  --accent-focused: rgba(68, 0, 107, 0.393);
  --borders: rgb(42, 102, 180) 1px dashed;
  --bordersH: rgb(255, 85, 255);
  --bordersW: rgba(200, 65, 200, 0.678); 
  --interactive-normal: rgb(212, 135, 156);
  --brand-500: rgb(144, 93, 106);
  --brand-530: rgb(144, 93, 106);
  --brand-560: rgb(144, 93, 106);
}

[class*="menus_"]>[class*="bite"], [class*="body_"]>[class*="activity_"] {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Wallpaper */
body {
    background-color: #00000000;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230610/pngtree-dark-purple-flower-with-light-pouring-from-behind-it-image_2949447.jpg");
    background-size: cover;
}



/* Window Border for Windows */
.platform-win body::before {
  border: var(--bordersW) 5px double;
  padding: 5px;
  border-radius: 1px;

/* The following can generally be ignored, feel free to play with this if you want.
 This basically just keeps the border where it should be. */
 
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 9999;
  visibility: var(--showBorder, visible);
}

/* everything else done to make sure this looks the way it does */

span {
    color: rgb(255, 205, 218);
}

.theme-dark [class^="timestamp_"], [class*="name_"], #vc-spotify-song-title, [class*="linkButton_"], [class*="icon_"] {
    color: rgb(212, 135, 156);
}

/* hehe *gargles mouth wash and drinks it* u-uwa.. >w< ^ */

/* Transparency */
nav[class*="guilds_"] {
    background-color: transparent;
} 

/* Bot Tags */
[class*="px_"][class*="botTag_"] {
    background-color: transparent;
    border: var(--borders);
    text-transform: lowercase;
    color: var(--accent);
}

/* Ping hehe */
#app-mount [class*="numberBadge_"] {
    background-color: black;
    color: var(--accent);
    border: 1px dotted;
}
