.typeWindows_e41dab /*overlay the titlebar instead of adding it to the top*/{
    height: 30px;
    padding: 0;
    margin: 0 0 -30px 0;
}
.wordmark__5b8c9 /*remove discord watermark*/{
    display: none;
}
.winButton_f17fb6 { /*move and resize window buttons*/
    top: 30px;
    height: 48px;
    right: 45px;
}
.toolbar__62fb5 { /*move the buttons in the titlebar*/
    margin-right: 84px;
}
.winButtonMinMax_caf9c8:hover { /*remove the hover background on the window buttons*/
    background: none;
}
#app-mount:has(.layers__1c917>.stop-animations)>.typeWindows_e41dab>.winButton_f17fb6 { /*OPTIONAL: moves the window buttons back to a reasonable location when settings are opened*/
    top: 0;
    right: 0;
    height: 18px;
    margin-top: 4px;
}