/* Fancy Text Headers*/
.theme-dark .themed_e44302:before {
  content: "Desc.";
  position: absolute;
  top: -6px;
  left: 2%;
  transform: translateX(-50%);
  background-color: var(--projectCabTitleBar);
  padding: 0 5px;
  color: var(--accent);
  font-family: var(--font-display);
  font-size: 10px;
}

.scrollableContainer_d0696b:before {
  content: "Chat";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--projectCabBackground);
  padding: 0 5px;
  color: var(--accent);
  font-family: var(--font-display);
  font-size: 14px;
}

.theme-dark .container_ee69e0:before {
  content: "Channels";
  position: absolute;
  top: -2px;
  left: 15%;
  transform: translateX(-50%);
  background-color: var(--projectCabBackground);
  padding: 0 5px;
  color: var(--accent);
  font-family: var(--font-display);
  font-size: 10px;
}

.membersWrap_cbd271:after {
  content: "Members";
  position: absolute;
  top: -5px;
  left: 16%;
  transform: translateX(-50%);
  background-color: var(--projectCabBackground);
  padding: 0 5px;
  color: var(--accent);
  font-family: var(--font-display);
  font-size: 10px;
}

 .sidebar_a4d4d9:after {
  content: "Channels";
  position: absolute;
  top: -2px;
  left: 3%;
  transform: translateX(-50%);
  background-color: var(--projectCabBackground);
  padding: 0 5px;
  color: var(--accent);
  font-family: var(--font-display);
  font-size: 10px;
}
