/* Spotify */
#vc-spotify-player {
   font-size: 15px;
   padding-top: 15px;
   border: var(--borders);
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
}

#vc-spotify-player:hover {
   border-color: var(--bordersH);
}

.barFill_c7a159 {
   background-color: var(--bordersH);
   border: 2px;
}

/* Everything else done to modify NoTheme into this obamanation */

.container_ee69e0 {
   border: var(--borders);
   margin: 0px 5px 1px 5px;
}

.container_ee69e0:hover {
   border-color: var(--bordersH);
}

/* DMs - Direct Messages */
.privateChannels_f0963d {
   border: var(--borders);
   margin: 0px 5px 1px 5px;
}

.privateChannels_f0963d:hover {
   border-color: var(--bordersH);
}

/* Text Box */
.scroller_c47fa9 {
   border-right: transparent;
}

/* Chat Window */
.scroller_e2e187:hover {
   border-color: var(--bordersH);
}

.scroller_e2e187 {
   border: var(--borders);
   margin: 10px 14px 15px 10px;
}

/* Mini Context Menu */
.wrapper_ef319f {
   border: var(--borders);
   background-color: var(--projectCabBackground2);
}

/* Title Bar */
.themed_e44302 {
   background-color: var(--projectCabTitleBar);
   border: var(--borders);
   margin: 0 0 10px 10px;
   width: calc(100% - 25px);
   padding: 0px;
}

.subtitleContainer_a7d72e {
   margin-left: 0px;
}

.themed_e44302:hover {
   border-color: var(--bordersH);
}

.heading-md-semibold__76ba1 {
   margin-left: 20px;
}

/* IDR LMAOOOO */
.children_e44302>.iconWrapper_e44302 {
   display: none;
}

.scrollableContainer_d0696b:hover {
   border-color: var(--bordersH);
}

/* THAT STUPID FUCKING USER BAR BULLSHIT FUCKING FUCK DICK FUCK FUCK SHIT FUCK DICK FUCK */
.container_b2ca13 {
   border: var(--borders);
   margin: 7px 5px 16px 5px;
}

.scroller_c43953 {
   border: 0px;
}

.container_b2ca13:hover {
   border-color: var(--bordersH);
}

.withTagAsButton_b2ca13,
.withTagless_b2ca13 {
   min-width: 115px;
   padding-left: 0px;
}

/* Members Sidebar */
.members_cbd271 {
   margin: 0px 5px 28px 10px !important;
   border: var(--borders);
}

.members_cbd271:hover {
   border: solid 1px var(--bordersH);
}

.membersWrap_cbd271 {
   border: transparent;
}

.container_cbd271 {
   border-color: var(--bordersH);
}

/* Adjustments for Chat */
.inner_d0696b {
   padding: 2.5px 2.5px 2.5px 10px;
}

.form_a7d72e {
   margin-bottom: -6px;
   padding-left: 10px;
   padding-right: 14px;
}

.form_a7d72e:hover {
   border-color: var(--bordersH);
}

/* Activies/Game */
.activityPanel_a4d4d9 {
   border: var(--borders);
   margin: 5px 5px 16px 5px;
}

/* Window Padding */
.content_a4d4d9 {
   margin: var(--pad);
}

.base_a4d4d9 {
   margin-top: var(--pad);
}

/* Checkboxes */
.container_cebd1c>input[type='checkbox'],
.checkboxWrapper-2fDzaA>input[type='checkbox'] {
   appearance: none;
   background-color: var(--projectCabBackground);
}

.container_cebd1c>input[type='checkbox']:checked,
.checkboxWrapper-2fDzaA>input[type='checkbox']:checked {
   appearance: revert;
}

/* Buttons */
.lookFilled_dd4f85.colorBrand_dd4f85,
.lookFilled_dd4f85.colorPrimary_dd4f85 {
   background-color: var(--projectCabBackground2);
   border: var(--borders);
}

.lookFilled_dd4f85.colorBrand_dd4f85:hover,
.lookFilled_dd4f85.colorPrimary_dd4f85:hover {
   background-color: var(--projectCabBackground2);
   border: var(--bordersH) 1px solid;
}

/* Server & User settings */
.side_a0 {
   border: var(--borders);
   padding: 15px;
}

.side_a0:hover {
   border: var(--bordersH) 1px solid;
}

.contentColumnDefault_c25c6d {
   border: var(--borders);
   margin: 60px;
}

.contentColumnDefault_c25c6d:hover {
   border: var(--bordersH) 1px solid;
}

/* Unread Chanels */
.unread_d8bfb3 {
   top: 50%;
   left: 0px;
   background-color: var(--bordersH);
}

/* Ping */
.numberBadge_df8943 {
   background-color: var(--projectCabBackground2) !important;
   border: var(--bordersH) 2px solid !important;
}

/* Guilds Mention */
.mention_c10249 {
   background-color: var(--projectCabBackground2) !important;
   border: var(--bordersH) 2px solid !important;
}

/* Vencord Settings */
.vc-addon-card {
   border: var(--borders);
}

.vc-addon-card:hover {
   border: var(--bordersH) solid 1px;
}

/* Discord Logo */
.wrapper_f90abb:hover .childWrapper_f90abb, .wrapper_f90abb.selected_f90abb .childWrapper_f90abb  {
  background-color: var(--projectCabBackground) !important;
}

/*------------------------------------*/

/* Diskette Branding */
.info_c5a741>span:first-child::after {
   content: "\a Diskette (06.24)";
   color: var(--text-muted);
   white-space: pre;
   text-transform: none;
   line-height: 17px !important;
}

.info_c5a741>span:first-child::before {
   content: "\a meow ᓚᘏᗢ \a";
   color: var(--text-muted);
   white-space: pre;
   text-transform: none;
   line-height: 17px !important;
}
