/*
P̵̧̧̨̳̣̯̤̮̞̦̩͓̝̻̚͠l̸̨͎̬͓̲̘̳̅ͅe̸̢̧̨͍̙̪͖͖͍̱͚̭̥͚̕͝a̵̡͇̺̯͇̪̣̭̠͇̜͎̓͋̌͛̇͒̔͌͋̚͠͝ś̷͚͇͗̌̽͐̏ĕ̵̛͎̮̰͉̱̝͓̲͎͚̀̇̒̾̅́̈́͋͌̽͝ ̴̨͖͈̜̠̪̘͍̪͉̿̂͛͜͜͝L̶̛̙͙͇̗͂̒͐̆͝͝͝ͅô̶̪̹̮͕̘̣̤̮͙͖̳͖̝̻̻̆͑̓̉͠c̷̟̮̼͓͈̘̝̝͙͓͌̎́̒̂̓̽̆̃̚͠͠͝ͅā̸̛̻ţ̸̡̼̳̣͉̰̫̭̘̯̻̮̠̙̅͑̇͋̆̀̽́̂͛̀̈́̆̓͘ę̵̰͉̪͔̞̜̭̗̲̑̾̅̅̒̈́̃͑̐̚͠ ̶̧̼̲͓͎̇̒̀͗̾̈̂͗͛͝Ỳ̵̢͔͎̱̮͖͉̺̩̦̫̦̞̳͊͜ŏ̴̬͚̗͓̹͉̈̊̒̌̈́͐̏͋̔̓͝u̸̢͕͕͎̥̪͈̇̌͘̚ͅr̶̨̝͉̟̥̹͍̞̬̜̣̘̪͖̗̊̽̃̉͊̌̍͂͊̈́̇̽͘ ̵̮͈̼̬̹̟̼̬̫̘̖̃̑́̀̿̈̀͝L̶̡͇̤̯̦̱͍̺̤͎̻̬̺̃́͜e̸̡̗̮̻̪̼͍̰̫̰̩̪̻̋̂̄̿̈̿͝ǹ̴̝̠̾̑̀͗̕s̸̡̡̞̯͕͔̔͜͜ͅl̶̨͉̯̝̖̼͐̔̈́̂̅o̸̡͙̠̯̺̹͖̟͍̓̍̾͗̐̌̄̉̀͛͝k̵̢̧̛̹͙̞̳̱̫̥̥̦͎͂͌͛̃̆̇͆͊̎̓͑͗̚͘ ̷̞̱̬͙̦̄̋̀͒͐̓̂t̸̤͒̒͊͂õ̸͔̬͉̙͔̐͆̎͌͊͘͠ ̵̢̧̨̘̦̫̪̝̮̫͎̠̀D̸̡̥̼̮͕̺͎̝̹̣̩̉͌̀̂̉͠ͅe̶̢̫̖̞͉̥̻̝̤̣͐̌͜͠͝c̷̢̲͎̆̓̿͐̐̈͆͝į̵̟̝̖̩̦̼͒̎̇͊̑̚͝p̶̛̬͚͚̰͇̰̺̤̜̬̳̩̣͆ͅḩ̴͚̫͔̮͓͖̗̟͔̞̲͓͗͒͛́̆͐͘͝ͅė̸̩̯͉̳̩̫̜͚̥̫̱͊̂͂͌͐̿̓̂͜ŗ̵͍̘̠̺͔̟̦̣̼̜̜̰̓͋̓̚̕͝ ̶̡̧̻͍̈̈́̿͆͋͂͌̃P̵̧̧̨̳̣̯̤̮̞̦̩͓̝̻̚͠l̸̨͎̬͓̲̘̳̅ͅe̸̢̧̨͍̙̪͖͖͍̱͚̭̥͚̕͝a̵̡͇̺̯͇̪̣̭̠͇̜͎̓͋̌͛̇͒̔͌͋̚͠͝ś̷͚͇͗̌̽͐̏ĕ̵̛͎̮̰͉̱̝͓̲͎͚̀̇̒̾̅́̈́͋͌̽͝ ̴̨͖͈̜̠̪̘͍̪͉̿̂͛͜͜͝L̶̛̙͙͇̗͂̒͐̆͝͝͝ͅô̶̪̹̮͕̘̣̤̮͙͖̳͖̝̻̻̆͑̓̉͠c̷̟̮̼͓͈̘̝̝͙͓͌̎́̒̂̓̽̆̃̚͠͠͝ͅā̸̛̻ţ̸̡̼̳̣͉̰̫̭̘̯̻̮̠̙̅͑̇͋̆̀̽́̂͛̀̈́̆̓͘ę̵̰͉̪͔̞̜̭̗̲̑̾̅̅̒̈́̃͑̐̚͠ ̶̧̼̲͓͎̇̒̀͗̾̈̂͗͛͝Ỳ̵̢͔͎̱̮͖͉̺̩̦̫̦̞̳͊͜ŏ̴̬͚̗͓̹͉̈̊̒̌̈́͐̏͋̔̓͝u̸̢͕͕͎̥̪͈̇̌͘̚ͅr̶̨̝͉̟̥̹͍̞̬̜̣̘̪͖̗̊̽̃̉͊̌̍͂͊̈́̇̽͘ ̵̮͈̼̬̹̟̼̬̫̘̖̃̑́̀̿̈̀͝L̶̡͇̤̯̦̱͍̺̤͎̻̬̺̃́͜e̸̡̗̮̻̪̼͍̰̫̰̩̪̻̋̂̄̿̈̿͝ǹ̴̝̠̾̑̀͗̕s̸̡̡̞̯͕͔̔͜͜ͅl̶̨͉̯̝̖̼͐̔̈́̂̅o̸̡͙̠̯̺̹͖̟͍̓̍̾͗̐̌̄̉̀͛͝k̵̢̧̛̹͙̞̳̱̫̥̥̦͎͂͌͛̃̆̇͆͊̎̓͑͗̚͘ ̷̞̱̬͙̦̄̋̀͒͐̓̂t̸̤͒̒͊͂õ̸͔̬͉̙͔̐͆̎͌͊͘͠ ̵̢̧̨̘̦̫̪̝̮̫͎̠̀D̸̡̥̼̮͕̺͎̝̹̣̩̉͌̀̂̉͠ͅe̶̢̫̖̞͉̥̻̝̤̣͐̌͜͠͝c̷̢̲͎̆̓̿͐̐̈͆͝į̵̟̝̖̩̦̼͒̎̇͊̑̚͝p̶̛̬͚͚̰͇̰̺̤̜̬̳̩̣͆ͅḩ̴͚̫͔̮͓͖̗̟͔̞̲͓͗͒͛́̆͐͘͝ͅė̸̩̯͉̳̩̫̜͚̥̫̱͊̂͂͌͐̿̓̂͜ŗ̵͍̘̠̺͔̟̦̣̼̜̜̰̓͋̓̚̕͝ ̶̡̧̻͍̈̈́̿͆͋͂͌̃P̵̧̧̨̳̣̯̤̮̞̦̩͓̝̻̚͠l̸̨͎̬͓̲̘̳̅ͅe̸̢̧̨͍̙̪͖͖͍̱͚̭̥͚̕͝a̵̡͇̺̯͇̪̣̭̠͇̜͎̓͋̌͛̇͒̔͌͋̚͠͝ś̷͚͇͗̌̽͐̏ĕ̵̛͎̮̰͉̱̝͓̲͎͚̀̇̒̾̅́̈́͋͌̽͝ ̴̨͖͈̜̠̪̘͍̪͉̿̂͛͜͜͝L̶̛̙͙͇̗͂̒͐̆͝͝͝ͅô̶̪̹̮͕̘̣̤̮͙͖̳͖̝̻̻̆͑̓̉͠c̷̟̮̼͓͈̘̝̝͙͓͌̎́̒̂̓̽̆̃̚͠͠͝ͅā̸̛̻ţ̸̡̼̳̣͉̰̫̭̘̯̻̮̠̙̅͑̇͋̆̀̽́̂͛̀̈́̆̓͘ę̵̰͉̪͔̞̜̭̗̲̑̾̅̅̒̈́̃͑̐̚͠ ̶̧̼̲͓͎̇̒̀͗̾̈̂͗͛͝Ỳ̵̢͔͎̱̮͖͉̺̩̦̫̦̞̳͊͜ŏ̴̬͚̗͓̹͉̈̊̒̌̈́͐̏͋̔̓͝u̸̢͕͕͎̥̪͈̇̌͘̚ͅr̶̨̝͉̟̥̹͍̞̬̜̣̘̪͖̗̊̽̃̉͊̌̍͂͊̈́̇̽͘ ̵̮͈̼̬̹̟̼̬̫̘̖̃̑́̀̿̈̀͝L̶̡͇̤̯̦̱͍̺̤͎̻̬̺̃́͜e̸̡̗̮̻̪̼͍̰̫̰̩̪̻̋̂̄̿̈̿͝ǹ̴̝̠̾̑̀͗̕s̸̡̡̞̯͕͔̔͜͜ͅl̶̨͉̯̝̖̼͐̔̈́̂̅o̸̡͙̠̯̺̹͖̟͍̓̍̾͗̐̌̄̉̀͛͝k̵̢̧̛̹͙̞̳̱̫̥̥̦͎͂͌͛̃̆̇͆͊̎̓͑͗̚͘ ̷̞̱̬͙̦̄̋̀͒͐̓̂t̸̤͒̒͊͂õ̸͔̬͉̙͔̐͆̎͌͊͘͠ ̵̢̧̨̘̦̫̪̝̮̫͎̠̀D̸̡̥̼̮͕̺͎̝̹̣̩̉͌̀̂̉͠ͅe̶̢̫̖̞͉̥̻̝̤̣͐̌͜͠͝c̷̢̲͎̆̓̿͐̐̈͆͝į̵̟̝̖̩̦̼͒̎̇͊̑̚͝p̶̛̬͚͚̰͇̰̺̤̜̬̳̩̣͆ͅḩ̴͚̫͔̮͓͖̗̟͔̞̲͓͗͒͛́̆͐͘͝ͅė̸̩̯͉̳̩̫̜͚̥̫̱͊̂͂͌͐̿̓̂͜ŗ̵͍̘̠̺͔̟̦̣̼̜̜̰̓͋̓̚̕͝ ̶̡̧̻͍̈̈́̿͆͋͂͌̃



Thanks to @coolesding for her time and efforts for recreating this snippit to work with Diskette.

vozy previously made some adjustments so that padding is accounted for

lastly fixed by @nvkomata the css witch



P̵̧̧̨̳̣̯̤̮̞̦̩͓̝̻̚͠l̸̨͎̬͓̲̘̳̅ͅe̸̢̧̨͍̙̪͖͖͍̱͚̭̥͚̕͝a̵̡͇̺̯͇̪̣̭̠͇̜͎̓͋̌͛̇͒̔͌͋̚͠͝ś̷͚͇͗̌̽͐̏ĕ̵̛͎̮̰͉̱̝͓̲͎͚̀̇̒̾̅́̈́͋͌̽͝ ̴̨͖͈̜̠̪̘͍̪͉̿̂͛͜͜͝L̶̛̙͙͇̗͂̒͐̆͝͝͝ͅô̶̪̹̮͕̘̣̤̮͙͖̳͖̝̻̻̆͑̓̉͠c̷̟̮̼͓͈̘̝̝͙͓͌̎́̒̂̓̽̆̃̚͠͠͝ͅā̸̛̻ţ̸̡̼̳̣͉̰̫̭̘̯̻̮̠̙̅͑̇͋̆̀̽́̂͛̀̈́̆̓͘ę̵̰͉̪͔̞̜̭̗̲̑̾̅̅̒̈́̃͑̐̚͠ ̶̧̼̲͓͎̇̒̀͗̾̈̂͗͛͝Ỳ̵̢͔͎̱̮͖͉̺̩̦̫̦̞̳͊͜ŏ̴̬͚̗͓̹͉̈̊̒̌̈́͐̏͋̔̓͝u̸̢͕͕͎̥̪͈̇̌͘̚ͅr̶̨̝͉̟̥̹͍̞̬̜̣̘̪͖̗̊̽̃̉͊̌̍͂͊̈́̇̽͘ ̵̮͈̼̬̹̟̼̬̫̘̖̃̑́̀̿̈̀͝L̶̡͇̤̯̦̱͍̺̤͎̻̬̺̃́͜e̸̡̗̮̻̪̼͍̰̫̰̩̪̻̋̂̄̿̈̿͝ǹ̴̝̠̾̑̀͗̕s̸̡̡̞̯͕͔̔͜͜ͅl̶̨͉̯̝̖̼͐̔̈́̂̅o̸̡͙̠̯̺̹͖̟͍̓̍̾͗̐̌̄̉̀͛͝k̵̢̧̛̹͙̞̳̱̫̥̥̦͎͂͌͛̃̆̇͆͊̎̓͑͗̚͘ ̷̞̱̬͙̦̄̋̀͒͐̓̂t̸̤͒̒͊͂õ̸͔̬͉̙͔̐͆̎͌͊͘͠ ̵̢̧̨̘̦̫̪̝̮̫͎̠̀D̸̡̥̼̮͕̺͎̝̹̣̩̉͌̀̂̉͠ͅe̶̢̫̖̞͉̥̻̝̤̣͐̌͜͠͝c̷̢̲͎̆̓̿͐̐̈͆͝į̵̟̝̖̩̦̼͒̎̇͊̑̚͝p̶̛̬͚͚̰͇̰̺̤̜̬̳̩̣͆ͅḩ̴͚̫͔̮͓͖̗̟͔̞̲͓͗͒͛́̆͐͘͝ͅė̸̩̯͉̳̩̫̜͚̥̫̱͊̂͂͌͐̿̓̂͜ŗ̵͍̘̠̺͔̟̦̣̼̜̜̰̓͋̓̚̕͝ ̶̡̧̻͍̈̈́̿͆͋͂͌̃P̵̧̧̨̳̣̯̤̮̞̦̩͓̝̻̚͠l̸̨͎̬͓̲̘̳̅ͅe̸̢̧̨͍̙̪͖͖͍̱͚̭̥͚̕͝a̵̡͇̺̯͇̪̣̭̠͇̜͎̓͋̌͛̇͒̔͌͋̚͠͝ś̷͚͇͗̌̽͐̏ĕ̵̛͎̮̰͉̱̝͓̲͎͚̀̇̒̾̅́̈́͋͌̽͝ ̴̨͖͈̜̠̪̘͍̪͉̿̂͛͜͜͝L̶̛̙͙͇̗͂̒͐̆͝͝͝ͅô̶̪̹̮͕̘̣̤̮͙͖̳͖̝̻̻̆͑̓̉͠c̷̟̮̼͓͈̘̝̝͙͓͌̎́̒̂̓̽̆̃̚͠͠͝ͅā̸̛̻ţ̸̡̼̳̣͉̰̫̭̘̯̻̮̠̙̅͑̇͋̆̀̽́̂͛̀̈́̆̓͘ę̵̰͉̪͔̞̜̭̗̲̑̾̅̅̒̈́̃͑̐̚͠ ̶̧̼̲͓͎̇̒̀͗̾̈̂͗͛͝Ỳ̵̢͔͎̱̮͖͉̺̩̦̫̦̞̳͊͜ŏ̴̬͚̗͓̹͉̈̊̒̌̈́͐̏͋̔̓͝u̸̢͕͕͎̥̪͈̇̌͘̚ͅr̶̨̝͉̟̥̹͍̞̬̜̣̘̪͖̗̊̽̃̉͊̌̍͂͊̈́̇̽͘ ̵̮͈̼̬̹̟̼̬̫̘̖̃̑́̀̿̈̀͝L̶̡͇̤̯̦̱͍̺̤͎̻̬̺̃́͜e̸̡̗̮̻̪̼͍̰̫̰̩̪̻̋̂̄̿̈̿͝ǹ̴̝̠̾̑̀͗̕s̸̡̡̞̯͕͔̔͜͜ͅl̶̨͉̯̝̖̼͐̔̈́̂̅o̸̡͙̠̯̺̹͖̟͍̓̍̾͗̐̌̄̉̀͛͝k̵̢̧̛̹͙̞̳̱̫̥̥̦͎͂͌͛̃̆̇͆͊̎̓͑͗̚͘ ̷̞̱̬͙̦̄̋̀͒͐̓̂t̸̤͒̒͊͂õ̸͔̬͉̙͔̐͆̎͌͊͘͠ ̵̢̧̨̘̦̫̪̝̮̫͎̠̀D̸̡̥̼̮͕̺͎̝̹̣̩̉͌̀̂̉͠ͅe̶̢̫̖̞͉̥̻̝̤̣͐̌͜͠͝c̷̢̲͎̆̓̿͐̐̈͆͝į̵̟̝̖̩̦̼͒̎̇͊̑̚͝p̶̛̬͚͚̰͇̰̺̤̜̬̳̩̣͆ͅḩ̴͚̫͔̮͓͖̗̟͔̞̲͓͗͒͛́̆͐͘͝ͅė̸̩̯͉̳̩̫̜͚̥̫̱͊̂͂͌͐̿̓̂͜ŗ̵͍̘̠̺͔̟̦̣̼̜̜̰̓͋̓̚̕͝ ̶̡̧̻͍̈̈́̿͆͋͂͌̃P̵̧̧̨̳̣̯̤̮̞̦̩͓̝̻̚͠l̸̨͎̬͓̲̘̳̅ͅe̸̢̧̨͍̙̪͖͖͍̱͚̭̥͚̕͝a̵̡͇̺̯͇̪̣̭̠͇̜͎̓͋̌͛̇͒̔͌͋̚͠͝ś̷͚͇͗̌̽͐̏ĕ̵̛͎̮̰͉̱̝͓̲͎͚̀̇̒̾̅́̈́͋͌̽͝ ̴̨͖͈̜̠̪̘͍̪͉̿̂͛͜͜͝L̶̛̙͙͇̗͂̒͐̆͝͝͝ͅô̶̪̹̮͕̘̣̤̮͙͖̳͖̝̻̻̆͑̓̉͠c̷̟̮̼͓͈̘̝̝͙͓͌̎́̒̂̓̽̆̃̚͠͠͝ͅā̸̛̻ţ̸̡̼̳̣͉̰̫̭̘̯̻̮̠̙̅͑̇͋̆̀̽́̂͛̀̈́̆̓͘ę̵̰͉̪͔̞̜̭̗̲̑̾̅̅̒̈́̃͑̐̚͠ ̶̧̼̲͓͎̇̒̀͗̾̈̂͗͛͝Ỳ̵̢͔͎̱̮͖͉̺̩̦̫̦̞̳͊͜ŏ̴̬͚̗͓̹͉̈̊̒̌̈́͐̏͋̔̓͝u̸̢͕͕͎̥̪͈̇̌͘̚ͅr̶̨̝͉̟̥̹͍̞̬̜̣̘̪͖̗̊̽̃̉͊̌̍͂͊̈́̇̽͘ ̵̮͈̼̬̹̟̼̬̫̘̖̃̑́̀̿̈̀͝L̶̡͇̤̯̦̱͍̺̤͎̻̬̺̃́͜e̸̡̗̮̻̪̼͍̰̫̰̩̪̻̋̂̄̿̈̿͝ǹ̴̝̠̾̑̀͗̕s̸̡̡̞̯͕͔̔͜͜ͅl̶̨͉̯̝̖̼͐̔̈́̂̅o̸̡͙̠̯̺̹͖̟͍̓̍̾͗̐̌̄̉̀͛͝k̵̢̧̛̹͙̞̳̱̫̥̥̦͎͂͌͛̃̆̇͆͊̎̓͑͗̚͘ ̷̞̱̬͙̦̄̋̀͒͐̓̂t̸̤͒̒͊͂õ̸͔̬͉̙͔̐͆̎͌͊͘͠ ̵̢̧̨̘̦̫̪̝̮̫͎̠̀D̸̡̥̼̮͕̺͎̝̹̣̩̉͌̀̂̉͠ͅe̶̢̫̖̞͉̥̻̝̤̣͐̌͜͠͝c̷̢̲͎̆̓̿͐̐̈͆͝į̵̟̝̖̩̦̼͒̎̇͊̑̚͝p̶̛̬͚͚̰͇̰̺̤̜̬̳̩̣͆ͅḩ̴͚̫͔̮͓͖̗̟͔̞̲͓͗͒͛́̆͐͘͝ͅė̸̩̯͉̳̩̫̜͚̥̫̱͊̂͂͌͐̿̓̂͜ŗ̵͍̘̠̺͔̟̦̣̼̜̜̰̓͋̓̚̕͝ ̶̡̧̻͍̈̈́̿͆͋͂͌̃

*/

.platform-win [class*="titleBar_"] { /*overlay the titlebar instead of adding it to the top*/
    height: 30px;
    padding: 0;
    margin:  0 var(--pad) calc(var(--pad) * -1) 0;
}

.platform-win [class*="titleBar_"]>[class*="wordmark"] { /*remove discord watermark*/
    display: none;
}

.platform-win [class*="winButton_"] { /*move and resize window buttons*/
    top: calc(var(--pad) * 1.65);
    padding: 0.6rem 0.1rem;
    right: var(--pad);
    background-color: var(--bg-overlay-2,var(--background-secondary));
}

.platform-win [class*="winButton_"]:hover {
    filter: brightness(2);
}

.platform-win [class*="subtitleContainer_"] [class*="toolbar_"] { /*move the buttons in the titlebar*/
    margin-right: calc(var(--pad) * 5.5);
}

.platform-win #app-mount:has([class*="layers_"]>.stop-animations) [class*="winButton_"] { /*OPTIONAL: moves the window buttons back to a reasonable location when settings are opened*/
    top: 0;
    right: 0;
    height: 18px;
    margin-top: 4px;
}
